.image {
    text-align: center;
    position: relative;
}

img {
    width: 60%;
    filter: brightness(0.5);
}

.text-img {
    position: absolute;
    top: 80%;
    right: 35%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}